

html {
    background-image:url(https://media.newyorker.com/photos/5b353b4efdf4c046b6f74d13/master/w_1298,c_limit/Burdick-TV-Crime.jpg);
    color: #f1f3f1;
    background-size:cover;
    font-family: 'Raleway', sans-serif;
    width:100%;
}
main {
    margin:auto;
    padding:0;
    overflow:hidden;
}
body {
    display:flex;
    justify-content: center;
    text-align:left;
}
body article li {
    padding-right:10px;
}
body article ul {
    padding-bottom:15px;
}
#crime-finder {
    background-color:rgba(7, 31, 23, 0.7);
    max-width:700px;  
    margin:0;
}

.inputform {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:400px;
    margin:auto;
    padding:15px;
    box-sizing:border-box;
    justify-content: center;
} 


h1,h2,h3 {
    text-align:center;
    color: rgb(189, 192, 191);
    background-color:rgba(10, 46, 34, 0.6);
    font-size: 3rem;
    border-radius: 0.3%;
    text-shadow: 1px 1px 2px #0a251e;
    letter-spacing: 0.02em;
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
}
h1 {
    margin:0;
    padding:0;

}
h2 {
    font-size: 1.7rem;
    background-color:rgba(10, 46, 34, 0.7);
    margin:0;
}
h3 {
    font-size: 1.4rem;
    display:block;
    background-color:rgba(10, 46, 34, 0.5);

}
.input_text {
        display: block;
        margin: 0.2em;
        color: inherit;
        font-family: inherit;
        font-size: 1rem;
        font-weight: inherit;
        line-height: 1.5em;
        border: none;
        border-radius: 0.4rem;
        background-color: rgba(42, 56, 51, 0.8);
        padding:5px;
      }

.input_text::placeholder {
color: rgb(173, 175, 174);
padding: 5px;
}

.input_text:hover {
    background-color:rgba(23, 31, 28, 0.8);
}
.input_text:focus {
    outline: thin dotted;
}
label[for="inputCity"] { 
    height: 0.1px;
    overflow: hidden;
}
label[for="inputLat"] { 
    height: 0.1px;
    overflow: hidden;
}
label[for="inputLng"] { 
    height: 0.1px;
    overflow: hidden;
}
label[for="inputDate"] { 
    height: 0.1px;
    overflow: hidden;
}
.submit {
    background-color:rgba(45, 47, 47, 0.9);
    width:80px;
    margin: 0.2em;
    border: 1px;
    border-radius:0.4rem;
    color: #f1f3f1;
}
.submit:hover {
    background-color:rgba(23, 31, 28, 0.8);
}

.submit:focus {
    outline: thin dotted;
}

#crime-event-results-disclaimer p {
    font-size: 0.85rem;
    padding-bottom: 5px;
    padding-right: 20px;
}

.result {
    background-color:rgba(7, 31, 23, 0.7);
    text-align: center;
    max-width: 700px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
.resultChild {
    max-width: 230px;
    width:100%;
}
div.result:nth-child(even) {background:rgba(23, 31, 28, 0.8);}
div.result:nth-child(odd) { background:rgba(42, 56, 51, 0.8)}

.copyright {
    background-color: rgba(7, 31, 23, 0.3);
    line-height: 200%;
    margin:0;
    padding-left:3px;
}

/* copied and adapted*/
#container {
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    width:100%;
    bottom:45%;
    display:block;
    text-align: center;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
    width:100%;
  }
  
  #flip > div > div {
    color:rgb(211, 200, 200);
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#2f8674;
  }
  #flip div:first-child div {
    background:#415a92;
  }
  #flip div:last-child div {
    background:rgb(102, 21, 37);
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  